<div class="card single-post">
    <section class="card-header single-post-header">
        <div class="col-md-9">
            <!-- Render user-specific data with Handlebars.js expressions -->
            <h2> {{post.title}} </h2>
        </div>
        <div class="col-md-3">
            <h3>{{format_date post.createdAt}}</h3>
        </div>
    </section>
    <section class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </section>
</div>